/* Reset */
* {
  /* padding will not add to the ACTUALLY WIDTH OF THE BOX */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Create Variables */
:root {
  --primary-color: #0f0;
}
/* Main Styling */
html,
body {
  background-color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
  transition: background-color 1.7s ease;
  height: 100vh;
}
a {
  text-decoration: none;
}
h1 {
  color: var(--primary-color);
  text-align: center;
}
h3 {
  text-align: center;
  margin: 20 0 0 0;
}
h4 {
  margin: 2px 0px 40px 2px;
  background-color: #0f1313;
  padding: 3px;
  color: var(--primary-color);
}
h6 {
  margin: 10px;
  text-align: center;
  background-color: #4e5357;
  border-radius: 15px;
  padding: 0.45rem;
  color: white;
}

h6 > span {
  font-weight: 900;
  color: var(--primary-color);
}
img {
  border-radius: 20px;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 3px;
  margin: 3px;
}

nav ul li {
  list-style: none;
  background-color: #d0215cbd;
  color: black;
  padding: 3px 10px;
  margin: 4px 10px;
  border-radius: 10px 10px 0px 0px;
  font-weight: 700;
  font-size: 1.2rem;
  transition: transform 0.9s cubic-bezier(0.45, 1.87, 0.62, 1.6);
}

nav ul li:hover {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}
.active {
  color: white;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 2px 4px white;
  transform: scale(1.1);
}
#monthHeading,
#settingsForm,
#noteForm,
#headingNote {
  display: none;
}
#noteForm {
  max-width: 97%;
  margin: 0 auto;
}
.year:hover {
  cursor: pointer;
}
.month:hover {
  cursor: pointer;
}
.fas,
.far {
  transition: transform 0.7s cubic-bezier(0.45, 1.87, 0.62, 1.6);
}
.fas:hover,
.far:hover {
  cursor: pointer;
  transform: scale(1.3);
}
/* CODE FOR MESSAGES  */
.success,
.error {
  padding: 20px;
  text-align: center;
  width: 100%;
  border-radius: 25px;
  margin: auto;
}
.error {
  color: red;
}
.success {
  color: #2de11d;
}
.black {
  background-color: black;
  border: 5px solid black;
}
.redBorder {
  border: 20px solid red;
}
.greenBorder {
  border: 20px solid #2de11d;
}
/* END CODE FOR MESSAGES  */

/* settings form  */
.setFlex {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: #aea9ad;
  align-items: center;
  padding: 2rem;
  border-radius: 22px;
  box-shadow: 5px 4px 9px black;
}
@media screen and (max-width: 940px) {
  .radio {
    flex-direction: column;
  }
}
#settingsForm {
  max-width: 70%;
  margin: 14px auto;
  background-color: white;
  border: 20px solid white;
  border-radius: 20px;
}
​input[type="radio"] {
  margin: 10px;
  font-size: 16px;
}
input[type="radio"]:hover {
  cursor: pointer;
}
input[type="checkbox"] {
  margin-left: 22px;
}
input[type="checkbox"]:hover {
  cursor: pointer;
}
.deleteFile {
  color: red;
  margin: 12px;
}
.deleteFile:hover {
  cursor: pointer;
  color: #6d0a0a;
}
.autoLoad {
  color: #007bff;
  font-size: 14px;
}
#autoLoadList {
  margin-left: 40px;
}

.radio {
  display: flex;
  flex-direction: row;
}
.radio div {
  margin: 7px;
}

#yearHeading,
#monthHeading,
#headingNote {
  box-shadow: 5px 4px 9px black;
}

#noteList {
  margin: 10px auto;
  width: 98%;
}

#noteTextareaInput {
  margin: 10px auto;
  width: 98%;
  border: 1px solid;
  padding: 10px;
  border-radius: 20px;
}
.note {
  white-space: pre;
  background-color: #202020;
  border-radius: 10px 10px 0px 0px;
  padding: 14px;
  overflow: auto;
}
.yearOfNotesNote {
  white-space: pre;
  background-color: #202020;
  border-radius: 10px 10px 0px 0px;
  padding: 14px;
  overflow: auto;
}

.delete-item {
  margin: 0 16px;
  color: #161313;
}
.delete-item:hover {
  margin: 0 16px;
  color: white;
  cursor: pointer;
}
.moveUp {
  color: green;
  display: inline;
}
.moveUp:hover {
  cursor: pointer;
}
.moveDown {
  color: blue;
  display: inline;
}
.moveDown:hover {
  cursor: pointer;
}

.trash {
  margin-left: 16px;
  color: black;
  transition: color 0.3s, transform 0.7s;
  transition-timing-function: cubic-bezier(0.45, 1.87, 0.62, 1.6);
}
.trash:hover {
  color: white;
  transform: scale(1.3);
}
/* below is for editing the note  */
.modal-title {
  text-align: center;
  background-color: white;
  color: var(--primary-color);
}
.edit-note {
  color: var(--primary-color);
  margin-left: 20px;
  background-color: transparent;
  transition: color 0.3s, transform 0.7s;
  transition-timing-function: cubic-bezier(0.45, 1.87, 0.62, 1.6);
}
.edit-note:hover {
  color: white;
  cursor: pointer;
  transform: scale(1.2);
}
.modal-header {
  display: flex;
  justify-content: center;
}
